## Day3 and Day4

In [ ]:
#1
string = "my name is x"
for i in ' '.join(string.split()):
    print (i, end=", ")

In [ ]:
#2
a = [0, 1, 2, 3]
i = -2
for i not in a:
    print(i)
    i += 1

In [ ]:
a = [0, 1, 2, 3]
for a[0] in a:
    print(a)
    print(a[0])

In [ ]:
a = [0, 1, 2, 3]
for a[-1] in a:
    print(a[-1])

In [ ]:
#7
x = (i for i in range(3))
for i in x:
    print(i)
for i in x:
    print(i)

In [ ]:
#8
x = (i for i in range(3))
for i in x:
    print(i)

In [ ]:
#9
for i in range(5):
    if i == 5:
        break
    else:
        print(i)
else:
    print("Here")

In [ ]:
#10
for i in range(10):
    if i == 5:
        break
    else:
        print(i)
else:
    print("Here")

In [ ]:
#11 The function upper() does not modify a string in place, 
#it returns a new string which isn’t being stored anywhere.
x = ['ab', 'cd']
for i in x:
    i.upper()
print(x)



## 12 dont run this code ever
x = ['ab', 'cd']
for i in x:
    x.append(i.upper())
print(x)

'''The problem is that x is being updated every loop and the loop will never stop because it will not reach to the end of x.

You can keep the length of x in a variable length and then make the loop run length times:

x = ['ab', 'cd']
length = len(x)
for i in range(length):
    x.append(x[i].upper())
'''

In [ ]:
#13 SyntaxError, there shouldn’t be a space between + and = in +=.
i = 1
while True:
    if i%3 == 0:
        break
    print(i)
    i + = 1

In [ ]:
#14 Control exits the loop when i becomes 7.5.
i = 1
while True:
    if i%0O7 == 0:
        break
    print(i)
    i += 1

In [ ]:
#15 0O11 is an octal number.
i = 5
while True:
    if i%0O11 == 0:
        break
    print(i)
    i += 1

In [ ]:
#16   9isn’t allowed in an octal number.
i = 5
while True:
    if i%0O9 == 0:
        break
    print(i)
    i += 1

In [ ]:
#17  #The loop does not terminate since i is never an even number.
i = 1
while True:
    if i%2 == 0:
        break
    print(i)
    i += 2

In [ ]:
#18 #The numbers 2 and 4 are printed. 
#The next value of i is 6 which is divisible by 3 and hence control exits the loop.
i = 2
while True:
    if i%3 == 0:
        break
    print(i)
    i += 2

In [ ]:
#19
i = 1
while False:
    if i%2 == 0:
        break
    print(i)
    i += 2

In [ ]:
#20
True = False
while True:
    print(True)
    break

In [ ]:
#21
i = 2
while True:
    if i%3 == 0:
        break
    print(i)
    i += 2

In [ ]:
#22
x = "abcdef"
i = "a"
while i in x:
    
    x = x[:-1]
 
    print(i, end = " ")

## Day 4

In [1]:
1.
import copy
a=[10,23,56,[78]]
b=copy.deepcopy(a)
print(b)
print(id(a))
print(id(b))
a[3][0]=95
a[1]=34
print(b)

[10, 23, 56, [78]]
139928427089824
139928427095376
[10, 23, 56, [78]]

In [6]:
a=list((45,)*4)
print((45)*4)
print(a)

180
[45, 45, 45, 45]

In [7]:
A = [[1, 2, 3],
[4, 5, 6],
[7, 8, 9]]
[A[i][len(A)-1-i] for i in range(len(A))]

[3, 5, 7]

In [ ]:
import copy

tup1 = (1,2,3,4)
print(tup1)
print(id(tup1))

tup2 = copy.copy(tup1)
print(tup2)
print(id(tup2))

In [ ]:
1.
import copy
a=[10,[20],(10,20),56,78]
b=copy.deepcopy(a)
print(id(a))
print(id(b))
print(id(a[1]))
print(id(b[1]))
print(id(a[2]))
print(id(b[2]))
print('***************')
c=(10,20,(40,50),60)
d=copy.deepcopy(c)
print(id(c[2]))
print(id(d[2]))

In [ ]:
a=list((45,)*4)
print((45)*4)
print(a)

In [ ]:
A = [[1, 2, 3],
[4, 5, 6],
[7, 8, 9]]
[A[i][len(A)-1-i] for i in range(len(A))]

In [ ]:
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]
list_using_comp = [var for var in input_list if var % 2 == 0]
print("Output List using list comprehensions:",list_using_comp)

In [ ]:
odd_square = [x ** 2 for x in range(1, 11) if x % 2 == 1]
print (odd_square)

In [ ]:
2 ** 8

In [ ]:
power_of_2 = [2 ** x for x in range(1, 9)]
print(power_of_2)

In [ ]:
names = ['Amir', 'Barry', 'Chales', 'Dao']
print(names[-1][-1])

In [ ]:
names1 = ['Amir', 'Barry', 'Chales', 'Dao']
names2 = names1
names3 = names1[:]
print(names1)
print(names2)
print(names3)

In [ ]:
print(id(names1))
print(id(names2))
print(id(names2))

## Day 3 Remaining

In [ ]:
#23
i = "i"
while i in x:
    
    print(i, end=" ")

In [ ]:
#24
x = 'abcd'
for i in x:
    print(i.upper())

In [ ]:
#25
x = 'abcd'
for i in range(len(x)):
    x[i].upper()
print (x)

In [ ]:
#26
a = [0, 1, 2, 3]
for a[0] in a:
    print(a[0])

In [ ]:
import math

for i in range(float(math.inf)):
    print (i)

In [ ]:
#28
d = {0: 'a', 1: 'b', 2: 'c'}
for x in d.keys():
    print(d[x])

In [ ]:
#29
d = {0: 'a', 1: 'b', 2: 'c'}
for x in d.values():
    print(x)

In [ ]:
#30
d = {'foo': 1, 'bar': 2, 'baz': 3}
while d:
    print(d.popitem())
print('Done.')

In [ ]:
#31
a = ['foo', 'bar', 'baz', 'qux', 'corge']
while a:
    if len(a) < 3:
        break
    print(a.pop())
print('Done.')

In [ ]:
#32
a = ['foo', 'bar', 'baz', 'qux', 'corge']
while a:
    print(a.pop())
else:
    print('Done.')

In [ ]:
lst = [1,2,3]
lst1 = []
while a:
     lst1 = lst.pop()
print(lst1)

In [ ]:
#35
if 'bar' in {'foo': 1, 'bar': 2, 'baz': 3}:
    print(1)
    print(2)
    if 'a' in 'qux':
        print(3)
print(4)

In [ ]:
#36
d = {'a': 0, 'b': 1, 'c': 0}

if d['a'] > 0:
    print('ok')
elif d['b'] > 0:
    print('ok')
elif d['c'] > 0:
    print('ok')
elif d['d'] > 0:
    print('ok')
else:
    print('not ok')

In [ ]:
print('a' + 'x') if '123'.isdigit() else 'y' + 'b'

In [ ]:
print('123'.isdigit())

In [ ]:
for x in range(1,20,3):
print(x)

In [ ]:
#40
i = 0
while i < 5:
    print(i)
    i += 1
    if i == 3:
        break
else:
    print(0)

In [ ]:
print(0)

In [ ]:
#41
def func(message, num = 1):
    print(message * num)
func('Welcome')
func('Viewers', 3)

In [ ]:
#42 INFINITE LOOP
def myfunc(text, num):
    while num > 0:
        print(text)
    num = num - 1
myfunc('Hello', 4)

In [1]:
#43
def func(x = 1, y = 2):
    x = x + y
    y += 1
    print(x, y)
func(y = 2, x = 1)

3 3

In [2]:
#44
num = 1
def func():
    global num
    num = num + 3
    print(num)

func()
print(num)

4
4

In [3]:
#45
def test(x = 1, y = 2):
    x = x + y
    y += 1
    print(x, y)
test(y = 2, x = 1)

3 3

In [4]:
#47
exp = lambda x: x ** 3
print(exp(2))

8

In [5]:
#48
myList = [lambda x: x ** 2,
    lambda x: x ** 3,
    lambda x: x ** 4]
for f in myList:
    print(f(3))

9
27
81

In [6]:
#49
def test_var_args(farg, *args):
    print ("formal arg:", farg)
    for arg in args:
        print ("another arg:", arg)
test_var_args(1, "two", 3)

formal arg: 1
another arg: two
another arg: 3

In [7]:
#50
def test_var_kwargs(farg, **kwargs):
    print ("formal arg:", farg)
    for key in kwargs:
        print ("another keyword arg: %s: %s" % (key, kwargs[key]))
test_var_kwargs(farg=1, myarg2="two", myarg3=3)

formal arg: 1
another keyword arg: myarg2: two
another keyword arg: myarg3: 3

In [12]:
#51
myList = [1, 2, 3, 4, 5]
def func(x):
    x.pop()
    x.pop()
    x.insert(-1, 0)
    print ("Inside func():", x)
    
func(myList)
print ("After function call:", myList)

Inside func(): [1, 2, 0, 3]
After function call: [1, 2, 0, 3]

In [15]:
#52
nums = range(2, 50)
for i in range(2, 8):
    nums = list(filter(lambda x: x == i or x % i, nums))
print (nums)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [5]:
import copy as c
a = [30,90,180]
b = c.copy(a)
a[1] = 70

print(a)
print(b)

[30, 70, 180]
[30, 90, 180]

In [3]:
import copy as c
a = [30,90,180]
b = c.deepcopy(a)
b[1] = 60

print(a)
print(b)

[30, 90, 180]
[30, 60, 180]

## DAY 4

In [8]:
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7]
list_using_comp = [var for var in input_list if var % 2 == 0]
print("Output List using list comprehensions:",list_using_comp)

Output List using list comprehensions: [2, 4, 4, 6]

In [10]:
odd_square = [x ** 2 for x in range(1, 11) if x % 2 == 1]
print(odd_square)

[1, 9, 25, 49, 81]

In [11]:
power_of_2 = [2 ** x for x in range(1, 9)]
print(power_of_2)

[2, 4, 8, 16, 32, 64, 128, 256]

In [12]:
noprimes = [j for i in range(2, 8) for j in range(i*2, 50, i)]
primes = [x for x in range(2, 50) if x not in noprimes]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [13]:
names = ['Amir', 'Barry', 'Chales', 'Dao']
print(names[-1][-1])

o

In [16]:
names1 = ['Amir', 'Barry', 'Chales', 'Dao']
names2 = names1
names3 = names1[:]
print(names3)
names2[0] = 'Alice'
names3[1] = 'Bob'
print(names1)
print(names2)
print(names3)
sum = 0
for ls in (names1, names2, names3):
    if ls[0] == 'Alice':
        sum += 1
    if ls[1] == 'Bob':
        sum += 10
print(sum)

['Amir', 'Barry', 'Chales', 'Dao']
['Alice', 'Barry', 'Chales', 'Dao']
['Alice', 'Barry', 'Chales', 'Dao']
['Amir', 'Bob', 'Chales', 'Dao']
12

In [17]:
names1 = ['Amir', 'Barry', 'Chales', 'Dao']
loc = names1.index("Edward")
print(loc)

ValueError: 'Edward' is not in list

In [18]:
names1 = ['Amir', 'Barry', 'Chales', 'Dao']
if 'amir' in names1:
    print(1)
else:
    print(2)

2

In [19]:
names1 = ['Amir', 'Barry', 'Chales', 'Dao']
names2 = [name.lower() for name in names1]
print(names2[2][0])

c

In [20]:
numbers = [1, 2, 3, 4]
numbers.append([5,6,7,8])
print(len(numbers))

5

In [24]:
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]
list3 =list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6, 7, 8]

In [25]:
def addItem(listParam):
    listParam += [1]
mylist = [1, 2, 3, 4]
addItem(mylist)
print(len(mylist))

5

In [26]:
my_tuple = (1, 2, 3, 4)
my_tuple.append( (5, 6, 7) )
print(len(my_tuple))

AttributeError: 'tuple' object has no attribute 'append'