## Assignment DAY 1 & DAY2

In [2]:
# 1
marks = ["FA1",80,"FA2",85,"FA3",95]
report = marks[-4:]
report = report[:1] + marks[5:]
print(report)

['FA2', 95]

In [45]:
#2
name1 = "Roger"
name2 = "Robert"

def swap_names(name1,name2):
    temp = name1 #temp = roger
    name1 = name2 #name1 = robert
    name2 = temp #name2 = roger
    return name1,name2
    
print("Before Swaping: name1="+name1+" name2="+name2)
result = swap_names(name1,name2)
print(result)
print("After Swaping: name1="+name1+" name2="+name2)
print("New:After Swaping: name1="+result[0]+" name2="+result[1])

Before Swaping: name1=Roger name2=Robert
('Robert', 'Roger')
After Swaping: name1=Roger name2=Robert
New:After Swaping: name1=Robert name2=Roger

Robert
Roger
Roger
The value of name1 after swapping: Robert
The value of name2 after swapping: Roger

In [27]:
#3
ship_crew = {
    "cocaptain":"jack",
    "chiefofficer": "mack",
    "steward":"harry",
    "cook":"mala"
}

ship_crew['cocaptain'] = "Tom"
ship_crew['captain'] = "jack"

In [28]:
ship_crew

{'cocaptain': 'Tom',
 'chiefofficer': 'mack',
 'steward': 'harry',
 'cook': 'mala',
 'captain': 'jack'}

In [29]:
ship_crew = {
    "cocaptain":"jack",
    "chiefofficer": "mack",
    "steward":"harry",
    "cook":"mala"
}

ship_crew['captain'] = ship_crew['cocaptain']
ship_crew['cocaptain'] = "tom"

In [30]:
ship_crew

{'cocaptain': 'tom',
 'chiefofficer': 'mack',
 'steward': 'harry',
 'cook': 'mala',
 'captain': 'jack'}

In [33]:
#4
import math
temp = ['mysore','banglore','pune','chennai']
temp.sort()
count1 = len(temp[0])
count2 = len(temp[-1])
final_val = math.ceil(count1/count2)
final_val

2

In [40]:
#5
num1 = 11/10
print(num1)
print(type(num1))
num2 = 11%10
print(num2)
print(type(num2))
num3 =20
num4 = 40
num5 = 5

if(num3>num4):
    if(num3>num5):
        print(num5*num4/num3)
    else:
        print(num3/num5)
else:
        if(num1==num2):
            print(num4/num3)
        else:
            print(type(num4/num5))

1.1
<class 'float'>
1
<class 'int'>
<class 'float'>

In [42]:
#6
i = 0
j = 10
while i<=10 and j >=1:
    print(i,j)
    j = j-1
    i = i+1
    if(i==j):
        break

0 10
1 9
2 8
3 7
4 6

In [43]:
#7
x = 4.5
y = 2

print(x//y)

2.0

In [44]:
type(x//y)

float

In [47]:
#8
print(22%3)

1

In [48]:
#9
3 * 1 ** 3

3

In [49]:
round(45.8)

46

In [54]:
#10
round(7463.123,2) #round takes 2 arguments

7463.12

In [55]:
#11
round(0.5)-round(-0.5)

0

In [56]:
a b c = 1 2 3

SyntaxError: invalid syntax (<ipython-input-56-34f5579df2fd>, line 1)

In [59]:
#16
eval("1+3*2")

7

In [60]:
_a =1

In [64]:
__str__ = 1

In [66]:
__str__

1

In [67]:
_ = 1

In [68]:
_

1

In [73]:
_init_= 3

In [75]:
x = 13 ? 2

SyntaxError: invalid syntax (<ipython-input-75-fd68ac84e27f>, line 1)

In [81]:
a="he saif"

In [88]:
def f(value, values):
    v = 1
    values[0] = 44
    print(v)
    print(value)
    print(values)
t = 3
v = [1, 2, 3]
f(t, v)
print(t,v)
print(t, v[0])

1
3
[44, 2, 3]
3 [44, 2, 3]
3 44

In [92]:
init_tuple=()

init_tuple.__len__()

AttributeError: 'tuple' object has no attribute '_len_'

In [98]:
init_tuple_a = 'a', 'b'
init_tuple_b = ('a', 'b')

type(init_tuple_b)

#print (init_tuple_a == init_tuple_b)

tuple

In [99]:
type(init_tuple_a)

tuple

In [100]:
#45
a = {'a':1,'b':2,'c':3}

In [102]:
a['a','b']

KeyError: ('a', 'b')

In [115]:
# 46
fruit ={}
print(fruit)
def addone(index):
    print(fruit)
    print(index)
    if index in fruit:
        fruit[index] +=1
    else:
        fruit[index] = 1
addone('Apple')
addone('Banana')
addone('apple')
print(fruit)
print((len(fruit)))

{}
{}
Apple
{'Apple': 1}
Banana
{'Apple': 1, 'Banana': 1}
apple
{'Apple': 1, 'Banana': 1, 'apple': 1}
3

In [128]:
#47
arr = {}
arr[1] = 1
arr['1']=2
arr[1]+=1
sum = 0

for k in arr:
    sum+=arr[k]
   
print(sum)

4

In [131]:
#48
my_dict = {}
my_dict[1] = 1
print(my_dict)
my_dict['1'] = 2
print(my_dict)
my_dict[1.0] = 4
print(my_dict)

sum = 0
for k in my_dict:
    sum += my_dict[k]
    
print (sum)

{1: 1}
{1: 1, '1': 2}
{1: 4, '1': 2}
6

In [141]:
#49
my_dict = {}
my_dict[(1,2,4)] = 8
print(type(my_dict))
print(my_dict)
my_dict[(4,2,1)] = 10
print(my_dict)
my_dict[(1,2)] = 12
print(my_dict)

sum = 0
for k in my_dict:
    sum += my_dict[k]

print (sum)
print(my_dict)
print(type(my_dict.items))

<class 'dict'>
{(1, 2, 4): 8}
{(1, 2, 4): 8, (4, 2, 1): 10}
{(1, 2, 4): 8, (4, 2, 1): 10, (1, 2): 12}
30
{(1, 2, 4): 8, (4, 2, 1): 10, (1, 2): 12}
<class 'builtin_function_or_method'>

In [166]:
#50
box = {}
jars = {}
crates = {}
box['biscuit'] = 1
print(box)
box['cake'] = 3
print(box)
jars['jam'] = 4
print(jars)
crates['box'] = box
print(crates)
crates['jars'] = jars
print(crates)
print (len(crates[box]))

{'biscuit': 1}
{'biscuit': 1, 'cake': 3}
{'jam': 4}
{'box': {'biscuit': 1, 'cake': 3}}
{'box': {'biscuit': 1, 'cake': 3}, 'jars': {'jam': 4}}

TypeError: unhashable type: 'dict'

In [41]:
x = (i for i in range(3))


for i in x:
     print(i)
        
for i in x:
    print('hello')

0
1
2

In [17]:
for x in range(3):
    print(x)

0
1
2

In [32]:
a = [0,1,2,3]

for a[-1] in a:
   
    print(a)
    print(a[-1])

[0, 1, 2, 0]
0
[0, 1, 2, 1]
1
[0, 1, 2, 2]
2
[0, 1, 2, 2]
2

In [43]:
X="hi"
print(“05d”%X)

SyntaxError: invalid character in identifier (<ipython-input-43-fa71d7a05c26>, line 2)

In [34]:
a = [0,1,2,3]
a[-1]

3

In [51]:
X=345
print("%06d"%X)

000345

In [59]:
x = -122
print("-%06d"%x)

--00122

In [60]:
x = 34
print("%f"%x)

34.000000

In [65]:
import sys
x = str()
print(sys.getsizeof(x))

49

In [66]:
x=56.236
print("%.2f"%x)

56.24

In [68]:
x=22.19
print("%5.2f"%x)

22.19

In [72]:
print("-%5d0",989,90,80)

-%5d0 989 90 80

In [1]:
data = [[[1, 2], [3, 4]], [[5, 6], [7, 8]]]

def fun(m):
   
    v = m[0][0] #1
    #print(m) #[[1, 2], [3, 4]]
  
    for row in m:
        #[[1, 2], [3, 4]]
        print("i am row: ",row)
        
        for element in row: 
            #print(element)
            print("_____________________________")
            print("i am value of v in 2nd for loop:",v)
            print("i am value of element in 2nd for loop:",element)
            print(":::::::::::::::::::::::")
            if v < element: 
                print("i am v now",v)
                print("i am element now",element)
                
                v= element
                print("new value of v: ",v)
                
    print("########################")
    return v

print("final v :",fun(data[0]))

i am row:  [1, 2]
_____________________________
i am value of v in 2nd for loop: 1
i am value of element in 2nd for loop: 1
:::::::::::::::::::::::
_____________________________
i am value of v in 2nd for loop: 1
i am value of element in 2nd for loop: 2
:::::::::::::::::::::::
i am v now 1
i am element now 2
new value of v:  2
i am row:  [3, 4]
_____________________________
i am value of v in 2nd for loop: 2
i am value of element in 2nd for loop: 3
:::::::::::::::::::::::
i am v now 2
i am element now 3
new value of v:  3
_____________________________
i am value of v in 2nd for loop: 3
i am value of element in 2nd for loop: 4
:::::::::::::::::::::::
i am v now 3
i am element now 4
new value of v:  4
########################
final v : 4

In [100]:
1<1

False

In [141]:
arr = [[1, 2, 3, 4],
    [4, 5, 6, 7],
    [8, 9, 10, 11],
    [12, 13, 14, 15]]

for i in range(0, 4):
    print(arr[i].pop()) #

4
7
11
15

In [15]:
def f(i,values = []):
    values.append(i)
    print (values)
    #return values

In [16]:
f(1)
f(2)
f(3)

[1]
[1, 2]
[1, 2, 3]

In [19]:
arr = [1, 2, 3, 4, 5, 6]
for i in range(1, 6):
    arr[i - 1] = arr[i]
    
for i in range(0, 6):
    
    print(arr[i], end = " ")

2 3 4 5 6 6

In [22]:
fruit_list1 = ['Apple', 'Berry', 'Cherry', 'Papaya']
fruit_list2 = fruit_list1
print(id(fruit_list1))
print(id(fruit_list2))

fruit_list3 = fruit_list1[:]

fruit_list2[0] = 'Guava'
fruit_list3[1] = 'Kiwi'

print(fruit_list1)
print(fruit_list2)
print(fruit_list3)

sum = 0
for ls in (fruit_list1, fruit_list2, fruit_list3):
    if ls[0] == 'Guava':
        sum += 1
    if ls[1] == 'Kiwi':
        sum += 20
print (sum)

140310404357728
140310404357728
['Guava', 'Berry', 'Cherry', 'Papaya']
['Guava', 'Berry', 'Cherry', 'Papaya']
['Apple', 'Kiwi', 'Cherry', 'Papaya']
22

In [212]:
init_tuple = ('Python') * 3
print(type(init_tuple))

<class 'str'>

In [217]:
init_tuple = (1,) * 3
init_tuple[0] = 2
print(init_tuple)

TypeError: 'tuple' object does not support item assignment

In [218]:
init_tuple = ((1, 2),) * 7
print(len(init_tuple[3:8]))

4

In [222]:
dict = {'c': 97, 'a': 96, 'b': 98}
print(_)
for _ in sorted(dict):
    print(_)
    print (dict[_])

c
a
96
b
98
c
97

In [226]:
rec = {"Name" : "Python", "Age":"20"}
r = rec.copy()
print(r)
print(id(r))
print(id(rec))
print(id(r) == id(rec))

{'Name': 'Python', 'Age': '20'}
140360829710080
140360831029808
False

In [233]:
rec = {"Name" : "Python", "Age":"20", "Addr" : "NJ", "Country" : "USA"}
id1 = id(rec)
print(id1)
del rec
rec = {"Name" : "Python", "Age":"20", "Addr" : "NJ", "Country" : "USA"}
id2 = id(rec)
print(id(rec))
print(id(id2))
print(id1 == id2)

140360830240160
140360831181680
140360832775280
False

In [236]:
str='Hello World'
print (str.replace('l','n',2))

Henno World

In [237]:
str='good-BYE'
print (str.capitalize())

Good-bye

In [242]:
a = 'name ' - 'name'
print(a)

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [243]:
print ('Tech' + 'Abc')

TechAbc

In [244]:
str='Infosys India'
print (str[4:9])

sys I

In [246]:
str='Recurssion'
print(str.rfind('s'))

5

In [247]:
str='Abc For Tech'
print (str[::-1])

hceT roF cbA

In [250]:
print('Abc' 'Infosys')

AbcInfosys

In [251]:
str='Abc Tech'
str[4]='-'
print(str)

TypeError: 'str' object does not support item assignment

In [252]:
print(R'Abc\nTech')

Abc\nTech

In [253]:
len(str)

8

In [255]:
str.__len__()

8

In [258]:
str='Hello World'
print(str.find('o'))

4

In [277]:
str='example'
print(str.center(15,'*'))

****example****

In [278]:
str='python'
print(str.center(15,'*'))

*****python****

In [279]:
str='Hello@John!!'
print(str.lower())

hello@john!!

In [280]:
print('+55'.zfill(5))

+0055

In [291]:
str='Welcome\tTo\tPython\tProgramming'
print(str.expandtabs(8))

Welcome To      Python  Programming

In [300]:
identity = ['Python', 'Python quiz', 'Python String', 'Python Interview', 'Python questions']

print("\n".join(identity))

Python
Python quiz
Python String
Python Interview
Python questions

In [314]:
print(u'2.124'.isnumeric())

False

In [317]:
str='PYTHON string concepts'
print(str.title())

Python String Concepts

In [318]:
str='example'
print (str.center(10,'*'))

*example**

In [323]:
str='PYTHON\nString\nConcepts'
print(str.splitlines())

['PYTHON', 'String', 'Concepts']

In [327]:
str='abbabadaadbbaccabc'
print (str.count('a',2))

6

In [3]:
print('b'.zfill(2))

0b

In [7]:
str='abcdefcdyzcd'
print(str.split('cd',2))

['ab', 'ef', 'yzcd']

In [9]:
str='abababadaadbbaccabc'
print(str.count('ab',-17,-1))

3

In [23]:
import copy

tup1 = (1,2,3,4)
print(tup1)
print(id(tup1))

tup2 = copy.deepcopy(tup1)
print(tup2)
print(id(tup2))

(1, 2, 3, 4)
140310754125776
(1, 2, 3, 4)
140310754125776

In [40]:
tup1 = (1,2,3,4,5)
tup2 = tup1[:4]
print(id(tup1))
print(id(tup2))

140310400548784
140310398924560

In [47]:
init_tuple = ('python',) * 4
print(init_tuple)
print(type(init_tuple))

('python', 'python', 'python', 'python')
<class 'tuple'>

In [37]:
lst1 = [1,2,3,4,5]
lst2 = lst1[:]
lst3 = lst
print(id(lst1))

print(id(lst3))

140310403665824
140310403665824

In [49]:
init_tuple = ((1, 2),) * 7
print(init_tuple)
print(len(init_tuple[3:8]))

((1, 2), (1, 2), (1, 2), (1, 2), (1, 2), (1, 2), (1, 2))
4

In [52]:
_ = {'c': 97, 'a': 96, 'b': 98}
print(_.items())

dict_items([('c', 97), ('a', 96), ('b', 98)])

In [54]:
rec = {"Name" : "Python", "Age":"20"}
r = rec.copy()
print(id(r) == id(rec))

False

In [60]:
import copy
lst = [1,2,3,[1,2,3]]
lst2 = copy.deepcopy(lst)

In [61]:
print(id(lst))
print(id(lst2))

140310401846800
140310401855568

In [70]:
str='example'
print(str.center(2,'*'))

example

In [21]:
x=" vinay"
y=" chakri"
print(x+ '' +y)

 vinay chakri

In [25]:
print("Hello world!!!!!!!")

Hello world!!!!!!!

In [28]:
x=["honda","hero","bajaj"]
print(x)

['honda', 'hero', 'bajaj']

In [34]:
x=['honda']

SyntaxError: invalid syntax (<ipython-input-34-12e3b47c6d3a>, line 1)

In [36]:
bikes = ['trek', 'redline','giant']

In [39]:
chakri=bikes[2]

In [40]:
print(chakri)

giant

In [41]:
chakri = bikes[-1]

In [42]:
print(chakri)

giant

In [43]:
chakri = bikes[-3]

In [44]:
print(chakri
    )

trek

In [47]:
for bike in bikes[1]:
    print(bike,end='')

redline

In [57]:
name = []
name.append('chakri')
print(name)
name.append('vinay')
print(name)
name.append('ahad')
print(name)
name.append('mani')
print(name)

['chakri']
['chakri', 'vinay']
['chakri', 'vinay', 'ahad']
['chakri', 'vinay', 'ahad', 'mani']

In [63]:
bikes = []
bikes.append('trek')
bikes.append('redline')
bikes.append('giant')
print(bikes)

['trek', 'redline', 'giant']

In [72]:
chakri = []
for x in range (1, 12):
    chakri.append('xyz')
    print(chakri)

['xyz']
['xyz', 'xyz']
['xyz', 'xyz', 'xyz']
['xyz', 'xyz', 'xyz', 'xyz']
['xyz', 'xyz', 'xyz', 'xyz', 'xyz']
['xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz']
['xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz']
['xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz']
['xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz']
['xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz']
['xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz', 'xyz']

In [75]:
cubes_of_number = []

for num in range(0,5):
    cubes_of_number.append(num**3)
    print(cubes_of_number)

[0]
[0, 1]
[0, 1, 8]
[0, 1, 8, 27]
[0, 1, 8, 27, 64]

In [77]:
squares = [x**2 for x in range(1,11)]

In [82]:
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

def read_list():
    """
    read a list of integers from stdin
    """
    return list(map(int, input().split()))
   

number = int(input("Enter the max. number you want to enter in a Array: "))
emptylist = []
for size in range(0,number):
    empty_list = read_list().insert()

In [5]:
print(list1)

[-6]